@charset "UTF-8";
html {
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  box-sizing: border-box;
}
html,
body {
  background: #f7f7f7;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
::before,
::after {
  margin: 0;
  padding: 0;
  /*在移动端特殊的设置*/
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ins,
a {
  color: #5a5a5a;
  text-decoration: none;
}
a:hover {
  color: #5a5a5a;
  text-decoration: none;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  /*特殊的属性定义  清除浏览器给input自带的样式*/
  -webkit-appearance: none;
  /*组件默认的样式空*/
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
img {
  display: block;
}
li {
  list-style: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/*------------- S 字体图标库 ----------------*/
@font-face {
  font-family: "miconfont";
  src: url('../font/miconfont.eot?t=1480476053297');
  /* IE9*/
  src: url('../font/miconfont.eot?t=1480476053297#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/miconfont.woff?t=1480476053297') format('woff'), /* chrome, firefox */ url('../font/miconfont.ttf?t=1480476053297') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/miconfont.svg?t=1480476053297#miconfont') format('svg');
  /* iOS 4.1- */
}
.micon {
  font-family: "miconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.micon-xiangxiajiantou:before {
  content: "\e65e";
}
.micon-xiangyoujiantou:before {
  content: "\e65f";
}
/*------------- E 字体图标库 ----------------*/
.mtop {
  height: 2.639934rem;
}
.mtop .mheader {
  height: 1.306634rem;
  background-color: #ff841d;
}
.mtop .mheader a {
  display: block;
  height: 100%;
  padding: 0.293326rem 0.39999rem;
}
.mtop .mheader a img {
  height: 100%;
}
.mtop .msearch {
  padding: 0.26666rem;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.mtop .msearch .txt {
  height: 0.79998rem;
}
.mtop .msearch .txt input {
  width: 100%;
  height: 100%;
  border-radius: 0.39999rem;
  font-size: 16px;
  padding-left: 0.26666rem;
  background-color: #f1f1f1;
}
[data-dpr='2'] .mtop .msearch .txt input {
  font-size: 32px;
}
[data-dpr="3"] .mtop .msearch .txt input {
  font-size: 48px;
}
.mtop .msearch .btn {
  position: absolute;
  right: 0.26666rem;
  top: 0.26666rem;
  width: 1.679958rem;
  height: 0.79998rem;
}
.mtop .msearch .btn input {
  width: 100%;
  height: 100%;
  border-radius: 0.39999rem;
  font-size: 16px;
  color: #fff;
  background-color: #ff841d;
  cursor: pointer;
}
[data-dpr='2'] .mtop .msearch .btn input {
  font-size: 32px;
}
[data-dpr="3"] .mtop .msearch .btn input {
  font-size: 48px;
}
.mfooter {
  height: 2.466605rem;
  margin: 0.13333rem;
}
.mfooter .top {
  height: 0.826646rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.mfooter .top a {
  display: block;
  float: left;
  width: 33.3%;
  text-align: center;
  line-height: 0.826646rem;
  position: relative;
  font-size: 16px;
}
[data-dpr='2'] .mfooter .top a {
  font-size: 32px;
}
[data-dpr="3"] .mfooter .top a {
  font-size: 48px;
}
.mfooter .top a:not(:last-child) {
  border-right: 1px solid #ccc;
}
.mfooter .top img {
  display: inline-block;
  width: 0.39999rem;
  height: 0.39999rem;
  vertical-align: middle;
  margin-right: 0.13333rem;
}
.mfooter .bottom {
  text-align: center;
  height: 1.639959rem;
  padding: 0.466655rem;
  line-height: 0.26666rem;
}
.mfooter .bottom .txt a:nth-child(1) {
  color: red;
}
.mfooter .bottom .txt a:nth-child(2) {
  color: #000;
}
.mfooter .bottom .txt a:nth-child(3) {
  color: #5a5a5a;
}
.pronav {
  height: 0.93331rem;
  line-height: 0.93331rem;
  padding-left: 0.26666rem;
  background-color: #5a5a5a;
}
.pronav a {
  color: #fff;
  font-size: 16px;
}
[data-dpr='2'] .pronav a {
  font-size: 32px;
}
[data-dpr="3"] .pronav a {
  font-size: 48px;
}
.pronav span {
  color: #fff;
  padding: 0.13333rem;
  font-size: 18px;
}
[data-dpr='2'] .pronav span {
  font-size: 36px;
}
[data-dpr="3"] .pronav span {
  font-size: 54px;
}
.rank .head > h3 {
  height: 0.79998rem;
  line-height: 0.79998rem;
  color: #874604;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ddd;
  background-color: #eee;
  font-size: 16px;
  padding-left: 0.26666rem;
}
[data-dpr='2'] .rank .head > h3 {
  font-size: 32px;
}
[data-dpr="3"] .rank .head > h3 {
  font-size: 48px;
}
.rank .brandrank li {
  height: 1.59996rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.rank .brandrank li:before {
  content: '>';
  display: block;
  position: absolute;
  right: 0.26666rem;
  top: 50%;
  font-size: 26px;
  color: #ccc;
  transform: translateY(-50%);
}
[data-dpr='2'] .rank .brandrank li:before {
  font-size: 52px;
}
[data-dpr="3"] .rank .brandrank li:before {
  font-size: 78px;
}
.rank .brandrank a {
  display: block;
  height: 100%;
  padding: 0.26666rem;
}
.rank .brandrank h3 {
  float: left;
  width: 0.66665rem;
  height: 100%;
  font-size: 18px;
  color: #fff;
}
[data-dpr='2'] .rank .brandrank h3 {
  font-size: 36px;
}
[data-dpr="3"] .rank .brandrank h3 {
  font-size: 54px;
}
.rank .brandrank h3 span {
  display: block;
  width: 0.39999rem;
  height: 0.39999rem;
  line-height: 0.39999rem;
  background-color: #ccc;
  text-align: center;
  margin-top: 0.26666rem;
}
.rank .brandrank li:nth-child(1) h3 span {
  background-color: red;
}
.rank .brandrank li:nth-child(2) h3 span {
  background-color: #ff841d;
}
.rank .brandrank li:nth-child(3) h3 span {
  background-color: #8fff05;
}
.rank .brandrank p {
  font-size: 16px;
  height: 0.53332rem;
  line-height: 0.53332rem;
}
[data-dpr='2'] .rank .brandrank p {
  font-size: 32px;
}
[data-dpr="3"] .rank .brandrank p {
  font-size: 48px;
}
.rank .brandrank .txtdetail {
  color: #9e9e9e;
}
.rank .prorank li {
  height: 3.093256rem;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding: 0.26666rem;
  background-color: #fff;
  overflow: hidden;
}
.rank .prorank li .category div.catCon li a {
  height: auto;
}
.rank .prorank li .pic {
  position: absolute;
  top: 0.26666rem;
  left: 0.26666rem;
  width: 2.6666rem;
  height: 100%;
}
.rank .prorank li .pic img {
  width: 2.6666rem;
  height: 2.6666rem;
}
.rank .prorank li .protxt {
  height: 100%;
  margin-left: 2.93326rem;
  padding-left: 0.26666rem;
  position: relative;
}
.rank .prorank li .protxt h5 {
  font-size: 14px;
  color: #000;
  height: 1.3333rem;
  letter-spacing: 0.026666rem;
}
[data-dpr='2'] .rank .prorank li .protxt h5 {
  font-size: 28px;
}
[data-dpr="3"] .rank .prorank li .protxt h5 {
  font-size: 42px;
}
.rank .prorank li .protxt span:nth-child(2) {
  color: red;
  font-size: 18px;
}
[data-dpr='2'] .rank .prorank li .protxt span:nth-child(2) {
  font-size: 36px;
}
[data-dpr="3"] .rank .prorank li .protxt span:nth-child(2) {
  font-size: 54px;
}
.rank .prorank li .protxt span:nth-child(3) {
  position: absolute;
  bottom: 0.13333rem;
  left: 0.26666rem;
}
.rank .prorank li .protxt span:nth-child(4) {
  position: absolute;
  bottom: 0.13333rem;
  right: 0;
}
.rank .commentrank li {
  height: 3.093256rem;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding: 0.26666rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.26666rem;
}
.rank .commentrank li .category div.catCon li a {
  height: auto;
}
.rank .commentrank li .pic {
  position: absolute;
  top: 0.26666rem;
  left: 0.26666rem;
  width: 2.6666rem;
  height: 100%;
}
.rank .commentrank li .pic img {
  width: 2.6666rem;
  height: 2.6666rem;
}
.rank .commentrank li .protxt {
  height: 100%;
  margin-left: 2.93326rem;
  padding-left: 0.26666rem;
  position: relative;
}
.rank .commentrank li .protxt h5 {
  font-size: 14px;
  color: #000;
  height: 1.3333rem;
  letter-spacing: 0.026666rem;
}
[data-dpr='2'] .rank .commentrank li .protxt h5 {
  font-size: 28px;
}
[data-dpr="3"] .rank .commentrank li .protxt h5 {
  font-size: 42px;
}
.rank .commentrank li .protxt span:nth-child(2) {
  color: red;
  font-size: 18px;
}
[data-dpr='2'] .rank .commentrank li .protxt span:nth-child(2) {
  font-size: 36px;
}
[data-dpr="3"] .rank .commentrank li .protxt span:nth-child(2) {
  font-size: 54px;
}
.rank .commentrank li .protxt span:nth-child(3) {
  position: absolute;
  bottom: 0.13333rem;
  left: 0.26666rem;
}
.rank .commentrank li .protxt span:nth-child(4) {
  position: absolute;
  bottom: 0.13333rem;
  right: 0;
}
.rank .commentrank {
  padding: 0.26666rem;
}
.rank .commentrank .head {
  height: 1.46663rem;
  position: relative;
}
.rank .commentrank .head span {
  position: absolute;
}
.rank .commentrank .head span:nth-child(1) {
  top: 0.26666rem;
  left: 0.26666rem;
}
.rank .commentrank .head span:nth-child(2) {
  top: 0.26666rem;
  right: 0.26666rem;
}
.rank .commentrank .head span:nth-child(3) {
  bottom: 0.26666rem;
  right: 0.26666rem;
}
.rank .commentrank .txt p {
  letter-spacing: 0.026666rem;
  line-height: 200%;
  padding-bottom: 0.53332rem;
}
.rank .comtolink {
  height: auto!important;
  padding: 0!important;
  border-radius: 0.26666rem !important;
  margin-bottom: 0.13333rem;
}
.rank .commentcolor li {
  background-color: #f8f8f8 !important;
}
