@charset "UTF-8";
html {
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  box-sizing: border-box;
}
html,
body {
  background: #f7f7f7;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
::before,
::after {
  margin: 0;
  padding: 0;
  /*在移动端特殊的设置*/
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ins,
a {
  color: #5a5a5a;
  text-decoration: none;
}
a:hover {
  color: #5a5a5a;
  text-decoration: none;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  /*特殊的属性定义  清除浏览器给input自带的样式*/
  -webkit-appearance: none;
  /*组件默认的样式空*/
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
img {
  display: block;
}
li {
  list-style: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/*------------- S 字体图标库 ----------------*/
@font-face {
  font-family: "miconfont";
  src: url('../font/miconfont.eot?t=1480476053297');
  /* IE9*/
  src: url('../font/miconfont.eot?t=1480476053297#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/miconfont.woff?t=1480476053297') format('woff'), /* chrome, firefox */ url('../font/miconfont.ttf?t=1480476053297') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/miconfont.svg?t=1480476053297#miconfont') format('svg');
  /* iOS 4.1- */
}
.micon {
  font-family: "miconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.micon-xiangxiajiantou:before {
  content: "\e65e";
}
.micon-xiangyoujiantou:before {
  content: "\e65f";
}
/*------------- E 字体图标库 ----------------*/
.mtop {
  height: 1.306634rem;
}
.mtop .mheader {
  height: 1.306634rem;
  line-height: 1.306634rem;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: #ff841d;
}
[data-dpr='2'] .mtop .mheader {
  font-size: 40px;
}
[data-dpr="3"] .mtop .mheader {
  font-size: 60px;
}
.mtop .mheader a {
  display: block;
  height: 100%;
  padding: 0.293326rem 0.39999rem;
}
.mtop .mheader a img {
  height: 100%;
  width: 100%;
}
.mtop .mheader a .app {
  height: 100%;
  width: auto;
}
.mfooter {
  height: 2.466605rem;
  margin: 0.13333rem;
}
.mfooter .top {
  height: 0.826646rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.mfooter .top a {
  display: block;
  float: left;
  width: 33.3%;
  text-align: center;
  line-height: 0.826646rem;
  position: relative;
  font-size: 16px;
}
[data-dpr='2'] .mfooter .top a {
  font-size: 32px;
}
[data-dpr="3"] .mfooter .top a {
  font-size: 48px;
}
.mfooter .top a:not(:last-child) {
  border-right: 1px solid #ccc;
}
.mfooter .top img {
  display: inline-block;
  width: 0.39999rem;
  height: 0.39999rem;
  vertical-align: middle;
  margin-right: 0.13333rem;
}
.mfooter .bottom {
  text-align: center;
  height: 1.639959rem;
  padding: 0.466655rem;
  line-height: 0.26666rem;
}
.mfooter .bottom .txt a:nth-child(1) {
  color: red;
}
.mfooter .bottom .txt a:nth-child(2) {
  color: #000;
}
.mfooter .bottom .txt a:nth-child(3) {
  color: #5a5a5a;
}
.inlandproduct {
  padding: 0.213328rem;
}
.inlandproduct .head h3 {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  height: 0.79998rem;
  line-height: 0.79998rem;
}
[data-dpr='2'] .inlandproduct .head h3 {
  font-size: 36px;
}
[data-dpr="3"] .inlandproduct .head h3 {
  font-size: 54px;
}
.inlandproduct .head p {
  color: red;
}
.inlandproduct .info {
  margin: 0.333325rem;
}
.inlandproduct .info span {
  padding-right: 0.199995rem;
  color: #5a5a5a;
}
.inlandproduct .info a:nth-child(4) {
  color: #4682c5;
}
.inlandproduct .con img {
  margin: 0.13333rem auto;
}
.inlandproduct .city ul {
  border: 1px solid #ccc;
  width: 3.626576rem;
  margin: 0 auto;
}
.inlandproduct .city li {
  width: 3.626576rem;
  height: 0.506654rem;
  border-bottom: 1px dashed #ccc;
  padding: 0.066665rem 0.66665rem;
}
.inlandproduct .city li span:last-child {
  color: #f27b04;
}
.inlandproduct .city li:last-child {
  border: none;
}
.inlandproductTwo {
  /* 评论区 样式太恶心了不想写 */
}
.inlandproductTwo .golink {
  margin: 0.26666rem;
  border-radius: 0.066665rem;
  overflow: hidden;
}
.inlandproductTwo .golink a {
  display: block;
  height: 0.773314rem;
  line-height: 0.773314rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #ff841d;
}
[data-dpr='2'] .inlandproductTwo .golink a {
  font-size: 32px;
}
[data-dpr="3"] .inlandproductTwo .golink a {
  font-size: 48px;
}
.inlandproductTwo .comment {
  /* 发表评论 */
}
.inlandproductTwo .comment .tit {
  font-size: 16px;
  padding: 0.159996rem 0.159996rem;
  line-height: 0.79998rem;
}
[data-dpr='2'] .inlandproductTwo .comment .tit {
  font-size: 32px;
}
[data-dpr="3"] .inlandproductTwo .comment .tit {
  font-size: 48px;
}
.inlandproductTwo .comment .reply .form {
  width: 100%;
  border: 2px solid #ECEAE8;
  border-radius: 0.053332rem;
  padding-top: 0.106664rem;
  padding-left: 0.106664rem;
}
.inlandproductTwo .comment .reply .form textarea {
  width: 100%;
  resize: none;
  border: none;
  height: 1.86662rem;
  line-height: 0.586652rem;
  font-size: 14px;
}
[data-dpr='2'] .inlandproductTwo .comment .reply .form textarea {
  font-size: 28px;
}
[data-dpr="3"] .inlandproductTwo .comment .reply .form textarea {
  font-size: 42px;
}
.inlandproductTwo .comment .reply .ctrl {
  background: #fbfbfb;
  height: 0.959976rem;
  margin-left: -0.106664rem;
  position: relative;
}
.inlandproductTwo .comment .reply .ctrl input {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #ff841d;
  border: 2px solid #ff841d;
  width: 2.6666rem;
  height: 0.959976rem;
  border-radius: 0.053332rem;
  color: white;
  font-size: 16px;
}
[data-dpr='2'] .inlandproductTwo .comment .reply .ctrl input {
  font-size: 32px;
}
[data-dpr="3"] .inlandproductTwo .comment .reply .ctrl input {
  font-size: 48px;
}
.inlandproductTwo .comment .list {
  width: 100%;
}
.inlandproductTwo .comment .list ul {
  width: 100%;
}
.inlandproductTwo .comment .list li {
  padding: 0.479988rem 0.26666rem;
}
.inlandproductTwo .comment .list .userimg {
  width: 1.06664rem;
  float: left;
  overflow: hidden;
}
.inlandproductTwo .comment .list .userimg img {
  width: 1.06664rem;
  height: 1.06664rem;
  border-radius: 0.53332rem;
}
.inlandproductTwo .comment .list .con {
  padding-left: 0.26666rem;
  overflow: hidden;
}
.inlandproductTwo .comment .list .name {
  padding-bottom: 0.159996rem;
}
.inlandproductTwo .comment .list .username {
  color: #5997c0;
  font-size: 12px;
  float: left;
}
[data-dpr='2'] .inlandproductTwo .comment .list .username {
  font-size: 24px;
}
[data-dpr="3"] .inlandproductTwo .comment .list .username {
  font-size: 36px;
}
.inlandproductTwo .comment .list .time {
  text-align: right;
  float: right;
}
.inlandproductTwo .comment .list .content {
  word-break: break-all;
  font-size: 14px;
  color: #606060;
  line-height: 0.53332rem;
}
[data-dpr='2'] .inlandproductTwo .comment .list .content {
  font-size: 28px;
}
[data-dpr="3"] .inlandproductTwo .comment .list .content {
  font-size: 42px;
}
body {
  background-color: #fff;
}
